.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.form-file {
  position: relative;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.file-label {
  display: inline-block;
  background-color: #3f51b5;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.file-label:hover {
  background-color: #2c3e50;
}

.form-button {
  background-color: #3f51b5;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.form-button:hover:not(:disabled) {
  background-color: #2c3e50;
}
